@model IEnumerable<cosmeticApp.Models.orders>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.noofproduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.noofproduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderdate)
            </td>
           
        </tr>
}
    </tbody>
</table>
