@model cosmeticApp.Models.product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productquantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.productquantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exhibitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exhibitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dd>
            <img src="~/images/@Model.productfile" height="150" />
            <br />@Model.productfile

        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
